<h1>Listing songs</h1>
<div class="dataTables_wrapper">
<table class="display dataTable" id="songsTable">
<thead>
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Example</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<% @songs.each do |song| %>
  <tr class="gradeA">
    <td><%= song.name %></td>
    <td><%= song.author %></td>
    <td><%= song.genre %></td>
    <td><%= link_to song.example if not song.example.nil? %></td>
    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>
</div>
